<launch>

  <!-- Launch the parking controller, safety controller, stop detector,
  cone detection node, and the homography transformer -->

<!--  <node pkg="final_challenge" name="safety_controller" type="safety_controller.py" output="screen">-->
<!--  </node>-->
  
  <include file="$(find racecar_simulator)/launch/simulate.launch"/>
  
  <!-- use this line for simulation -->
  <include file="$(find localization)/launch/localize.launch"/>
  <!-- use this line for real world -->
  <include file="$(find localization)/launch/localize_real_env.launch"/>

  <node pkg="final_challenge" name="path_planner" type="city_driving/path_planning/path_planning.py" output="screen" />

  <node pkg="final_challenge" name="path_follower" type="city_driving/path_planning/path_follower.py" output="screen" />
  
  <node pkg="image_transport" name="republish" type="republish" args="raw in:=/cone_debug_img out:=/cone_debug_img_compressed" output="screen" />

</launch>
