<launch>

  <!-- Launch the parking controller, safety controller, stop detector,
  cone detection node, and the homography transformer -->

<!--  <node pkg="final_challenge" name="safety_controller" type="safety_controller.py" output="screen">-->
<!--  </node>-->

  <node pkg="final_challenge" name="parking_controller" type="city_driving/visual_servoing/parking_controller.py" output="screen">
  	<param name="drive_topic" value="/vesc/ackermann_cmd_mux/input/navigation" />
  </node>

  <node pkg="final_challenge" name="stop_detector" type="city_driving/stop_detector/stop_detector.py" output="screen">
  </node>

  <node pkg="final_challenge" name="homography" type="city_driving/stop_detector/homography.py" output="screen">
  </node>

  <node pkg="image_transport" name="republish" type="republish" args="raw in:=/cone_debug_img out:=/cone_debug_img_compressed" output="screen">
  </node>

</launch>